/*#region Main Styles*/
body {
    overflow-x: hidden;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

.has-style-one {
    position: relative;
    background-color: #252525;
    background-image: url("../images/backgrounds/darktexture.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.has-style-two {
    background-color: #2e2c2c !important
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.has-z-3 {
    z-index: 3;
}

.has-text-hover-effect {
    color: #ffffff;
}

.has-text-hover-effect:hover {
    color: #004e92;
}

/*#endregion*/

/*#region Banner*/
.banner {
    position: relative;
    background-image: url("../images/photos/MarkandMar.jpg");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.has-banner-title {
    font-size: 6vh;
}

.focus-in-contract {
    -webkit-animation: focus-in-contract 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: focus-in-contract 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@media only screen and (max-device-width: 1366px) {
    .banner {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 1280px) {
    .banner {
        height: 700px !important;
        /* margin-top: 25px; */
    }
}

@media screen and (max-width: 736px) {
    .banner {
        /* margin-top: 50px; */
        background-attachment: scroll;
        background-position: center left 58%;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        /* margin-top: 25px; */
        background-attachment: scroll;
        background-position: center left 58%;
    }
}

/*#endregion*/

/*#region Albums*/
.AlbumPlayer {
    display: none;

}

.AlbumObject {
    width: 100%;
    min-height: 400px;

}

.AlbumImage {
    width: 75%;
    height: 100%;

    cursor: pointer;
}

/*#endregion*/

/*#region Badges*/
.badge_icon_link {
    width: 250px;
    height: auto;
    min-width: 200px;

}

.badge_icon_link:hover .badge_icon {
    background-color: #ffffff;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.badge_icon {
    width: 200px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
    margin: 5%;
    background-color: #606060;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.cdlinks {
    margin-top: 5px;
}

.amazon {
    -webkit-mask: url('../images/svgs/Amazon.com-Logo.svg') no-repeat 50% 50%;
    mask: url('../images/svgs/Amazon.com-Logo.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    margin-top: 7%;
}

.apple-music {
    -webkit-mask: url('../images/svgs/Apple_Music_logo.svg') no-repeat 50% 50%;
    mask: url('../images/svgs/Apple_Music_logo.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    margin-top: 7%;
}

.google-play {
    -webkit-mask: url('../images/svgs/Google_Play.svg') no-repeat 50% 50%;
    mask: url('../images/svgs/Google_Play.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    margin-top: 7%;
}

.spotify {
    -webkit-mask: url('../images/svgs/spotify.svg') no-repeat 50% 50%;
    mask: url('../images/svgs/spotify.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    margin-top: 7%;
}

.youtube {
    -webkit-mask: url('../images/svgs/YouTube-logo-dark.svg') no-repeat 50% 50%;
    mask: url('../images/svgs/YouTube-logo-dark.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    margin-top: 7%;
}

.cdbaby {
    -webkit-mask: url('../images/svgs/CD_Baby_Logo_White.svg') no-repeat 50% 50%;
    mask: url('../images/svgs/CD_Baby_Logo_White.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    margin-top: 7%;
}

/*#endregion*/

/*#region Blue Imp Gallery*/
.blueimp-gallery>.prev,
.blueimp-gallery>.next,
.blueimp-gallery>.close,
.blueimp-gallery>.title,
.blueimp-gallery>.play-pause {
    display: block;
}

/*#endregion*/

/*#region Photo Gallery*/

.gallery-image {
    display: block;
	width: 100%;
    height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}
.gallery-image:hover {
	transform: scale(1.15);
}
.gal-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.gal-content .content-overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 20%;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.gal-content .content-overlay {
    opacity: 1;
}

.content-details {
    position: absolute;
    text-align: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 80%;
    bottom: 50%;
    left: 50%;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.content-title {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
   
}


/*#endregion*/

/*#region Upcoming Performance Cards*/
.performance-card {
    text-align: center;
    min-height: 400px;
    /* background: #009FFF;  
    background: -webkit-linear-gradient(to bottom, #ec2F4B, #009FFF);
    background: linear-gradient(to bottom, #ec2F4B, #009FFF);  */

    /* background: #8A2387;
    background: -webkit-linear-gradient(to bottom, #F27121, #E94057, #8A2387);
    background: linear-gradient(to bottom, #F27121, #E94057, #8A2387);  */

    /* background: #ED213A;
    background: -webkit-linear-gradient(to bottom, #93291E, #ED213A);
    background: linear-gradient(to bottom, #93291E, #ED213A);  */

    background: #C33764;
    background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);
    background: linear-gradient(to bottom, #1D2671, #C33764);
}

.slide-in-right {
    -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

/*#endregion*/

/*#region Contact Form*/
.media {
    align-items: flex-start;
    display: flex;
    text-align: left;
}

.media .content:not(:last-child) {
    margin-bottom: 0.75rem;
}

.media-left,
.media-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.media-left {
    margin-right: 1rem;
}

.media-right {
    margin-left: 1rem;
}

.media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .media-content {
        overflow-x: auto;
    }
}

.contact-icon {
    margin: -0.625rem 0 1.25rem !important;
    padding: 0 !important;
    border: none !important;
}

.contact-icon .media-left {
    margin-right: 0.625rem;
}

.contact-icon a {
    transition: color 0.2s ease-in-out;
    color: #b0aebe;
}

.contact-icon a:active,
.contact-icon a:hover {
    color: #797591;
}

.is-contact-btn {
    border: 0;
    height: 50px;
    width: 23%;
    position: relative;
    border: none;
    display: block;
    color: #fff;
    font-weight: bold;
    margin: 20px auto 0;
    min-width: 170px;
    float: none;
    border-radius: 100px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.is-contact-btn:hover {
    color: #ffffff;
}

/*#endregion*/